<h1>New Sickness</h1>
<p>Separate symptoms with commas but with no spaces before and after the commas.</p>
<small>(e.g. Butterflies in the Stomach,Insomnia,Heart Skips a Beat)</small>
<% if !@message.nil? %>
	<%= @message %>
<% end %>
<%= render partial: "sicknesses/form", locals: { sickness: @sickness } %>