<h1>About</h1>

<%= image_tag 'about.png', :id => 'about' %>

<div>
Quackery is an online, aesthetic, and user-friendly website that allows users to view what possible sicknesses they
might have based on the symptoms they think they have. Still, it is no replacement for a real doctor and it is always
best to seek professional advice. 
</div>
