<%= image_tag 'about.png', :id => 'about' %>
</br></br>
<div style="width: 50%; align: center; margin-right: auto; margin-left: auto;"><center>
<p>Quackery is an online, aesthetic, and user-friendly website that allows users to view what possible sicknesses they might have based on the symptoms they think they have. Still, it is no replacement for a real doctor and it is always best to seek professional advice.</p>
</center></div>
