 <%= image_tag 'pinkamoebaright.png', :id => 'amoebaright' %> 
<h1>All Sicknesses</h1>
<div class = "allcontent">
<% @sicknesses.each do |sickness| %>
	<div>
		<%= link_to "#{sickness.name}", sickness_path(sickness.id) %> 
	</div>
</div>
<% end %>



