 <%= image_tag 'pinkamoebaleft.png', :id => 'amoeba' %> 

<div class="speech">
<div class ="diagnosecontent">
<h1>Diagnose</h1>
<h4> Check the symptoms you think you may have. </h4>
<h5> Scroll down for more options! </h5>


<%= simple_form_for :sickness, :url  => '/diagnoser'  do |f| %>
<% @a_s.uniq.each do |a| %>
 <%= f.collection_check_boxes :options, [[a, a]], :first, :last %> 
 <% end %>
 <%= f.submit %>
<% end%>
</div>
</div>