<h1>Recently Added Sicknesses</h1>

	<div class="well">
		<% @latest_sicknesses.each do |sickness| %>
			<p><%= link_to "#{sickness.name}", sickness_path(sickness.id) %> </p>
		<% end %>	
	</div>

</br></br>
<p><%= link_to 'All Sickness', all_path %> </p>
